@import url('https://fonts.googleleapsis.com/css?family=Mandali|Ralewy:900&display=swap');
input[type="radio]{
  position:absolute ;
  top: -999em;
}
html, body{
  font-family: Mandali, Arial, sans-serif;
  font-size: 16 px;
}
.centre{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#board{
  width:50vmin;
  heigt:50vmin;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.title{
  margin: 5%;
  position: relative;

}
.tile label,
.tile div{
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: rgba(0,0,0,0.10)
}
